/* .App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.app {
  display: grid;
  place-items: center;
  background-color: #282c34;
  height: 100vh;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.app__body {
  display: flex;
  height: 90vh;
  margin-top: -50px;
  width: 90vw;
  background-color: #ededed;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0, 2)
}